<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invoice</title>
<meta name="description" content="{{ page_description }}" />
<style type="text/css">
table th {
    font-weight:bold;
}

table {
    border-collapse:collapse;
}

table th, table td {
    padding:5px;
    font-size:14px;
}

tbody td {
    border:1px solid black;
}

tbody tr td:last-of-type {
    text-align:right;
}

tfoot th, tfoot td {
    text-align:right;
}

#editable {
    background-color:#ffff84;
    min-height:20px;
    white-space:pre;
}

@media print {
    .hide {
        display:none;
    }

    #editable {
        background-color:none;
    }
}
</style>
</head>
<body>

{% block logo %}{% endblock %}
<a href="javascript:window.print()" class="hide" style="float:right; font-size:36px"><strong>Print</strong></a>
{% if logo_url %}
    <img src="{{ logo_url }}"> 
{% endif %}
<h1>Invoice #{{ invoice.pk }}</h1>
<p><strong>Date:</strong> {{ invoice.created_on }}</p>
<h2>Items</h2>
<table>
    <thead>
        <tr>
            <th>Qty</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="2">Subtotal</th>
            <td>{{ invoice.subtotal }}</td>
        </tr>
        <tr>
            <th colspan="2">Tax</th>
            <td>{{ invoice.tax }}</td>
        </tr>
        <tr>
            <th colspan="2">Total</th>
            <td>{{ invoice.total }}</td>
        </tr>
    </tfoot>
    {% for item in items %}
        <tr>
            <td>{{ item.quantity }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.total }} {% if item.quantity > 1 %}<br />({{ item.unit_price }} ea.){% endif %}</td>
        </tr>
    {% endfor %}
</table>

<p><em>Currency ($) is United States Dollar</em></p>

<p><strong>Status:</strong> {{ invoice.status.upper }}</p>
{% if invoice.card %}
    <p><strong>Charge ID:</strong> {{ invoice.charge_id }}</p>
    <p style="margin-bottom:0"><strong>Customer Information</strong> <span class="hide"><em>(you can edit this field to add any specific information you need)</em></span></p>
    <div contenteditable id="editable">{{ invoice.customer_info }}</div>
    <p><strong>Card:</strong> {{ invoice.card }}</p>
    <p><strong>Paid To:</strong> <br />Aptibyte, LLC<br />
    10013 NE Hazel Dell Ave #212<br />
    Vancouver, WA 98685-5203<br />
    </p>
    <p><strong>Contact:</strong> {{ support_email }}</p>
    <p><strong>Website:</strong> {{ request.get_host }}</p>
    <p><strong>Refund Policy:</strong> You may request a full refund within 30 days of the purchase date.</p>
{% endif %}
</body>
</html>
